


*{
    margin : 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/* footer css*/
.footer{
    background-color: #ff4757;
    color:rgb(236, 230, 230)
}
/* menu css*/
.menu{
    text-align: center;
    border-bottom: 1px solid rgb(56, 49, 49);
}
.menu ul{
list-style-type: none ;
}
.menu ul li {
    display: inline;
    padding: 1%;
}
.menu ul li a {
    color: #ff4757;
    text-decoration: none;
     font-weight:bold;
}
.menu ul li a:hover{
    color: #ffa502;
}

/* css for main contenet  */
.main-contenet{
    /* margin: 1% 0; */
    background-color: #e5e8f5be;
    padding: 3% 0;
    
}
.clearfix{
    float: none;
    clear: both ;
}
.tbl {
    width: 100% ;
}
.table tr th {
    border-bottom: 1px solid black;
}
.col-4{
    width: 16%;
    margin: 1%;
    padding: 2%;
    background-color: white ;
    text-align: center;
    float: left;
}


